html {
    width: 100%;
    height: 100vh;
    zoom: 125%; /* Global scaling for the webpage to be more readable */
}

body {
    /* Fun fact: Comic Sans is the most accessible font for dyslexic people. Also it's funny */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin: 0px;
    background: linear-gradient(90deg, #F4C6F2, #F3D7F4, #E2D2F6, #BDEDFB, #AAE0F0);
    background-size: 1000% 1000%; /* Expands the background canvas to give the browser space to scroll through the colors */
    animation: colorShift 8s linear infinite alternate;
    /* Linear makes the animation go from 0% to 100% at a constant speed */
}

.darkmode {
    background: linear-gradient(90deg, #0d0d0d, #1a1a1a, #262626, #333333, #404040);
    background-size: 1000% 1000%;
    animation: colorShift 8s linear infinite alternate;
    color: white;
}

.darkmode nav>li {
    color: white;
}

.darkmode .taskDelete:hover, .darkmode .taskDelete:focus {
    background-color: red;
    outline-width: medium;
    cursor: pointer;
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

nav {
    margin: 0;
    padding: 0;
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .20em solid var(--glow-color);
    border-style: solid;
}
nav>ul>li {
    display: flex;
    border: .20em solid var(--glow-color);
    border-style: solid;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
}



#storageUnavailable {
    display: none;
    color: red;
    box-shadow: 0 0 2em .35em #000000;
}

#submitButton, #removeAllButton, .taskDelete {
    outline: #1cff82c4;
    outline-width: medium;
    cursor: pointer;
    padding: 0.7em 5em;
    border: .20em solid var(--glow-color);
    border-radius: 1em;
    font-weight: bold;
    transition: all 0.4s;
    overflow: hidden;
    box-shadow: 0 0 1em .15em #000000;
}

/* Hovering over the submit button makes your cursor point and makes the button green */
#submitButton:hover, #submitButton:focus {
    background-color:#1cff82c4;
    box-shadow: 0 0 2em .35em #000000;

}

#removeAllButton:hover, #removeAllButton:focus {
    background-color:#ff1c1cc4;
    box-shadow: 0 0 2em .35em #000000;

}

.taskPoint {
    width: 100%;
}

.priorityBox- { /* Fallback styling*/
    width: 100%;
    height: 10px;
    background: orange;
}

.priorityBox-High, .priorityBox-Medium, .priorityBox-Low{
    width: 100%;
    height: 5px;
}

.priorityBox-High {
    background: linear-gradient(90deg, #FF6347, #FF4500);
}

.priorityBox-Medium {
    background: linear-gradient(90deg, #FFD700, #FFA500, #FF8C00);
}

.priorityBox-Low {
    background: linear-gradient(90deg, #32CD32, #228B22);
}

#taskField {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: 50%;
    padding: 5px;
    font-size: 1rem;
}

#taskDescriptionField {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: 50%;
    padding: 0 0 40px 5px;
    font-size: 1rem;
    resize: none; /* Disables resizing */
}

.priorityField {
    display: grid;
}

.taskDelete:hover, .taskDelete:focus {
    background-color: red;
    outline-width: medium;
    cursor: pointer;
}

.taskComplete {
    size: 3rem;
}

#inputarea {
    margin: 0%;
    padding: 0%;
}

 /* This checks for any ID that contains a label and a checkbox in a True state */
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    outline: 12px;
}

#taskList {
    display: grid;
    /* Use REPEAT(3, minmax) to limit the amount of items that are display per row with a minimum spacing */
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 5%;
    /* Style type removes the dots from ULs. Removing left makes the objects centred  */
    list-style-type: none;   
    padding-left: 0;
}

.item {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 6px;
    padding: 12px;
    width: auto;

    border-image-source: linear-gradient(30deg, #8f8f8f, #cecece);
    border-style: ridge;
    border-image-slice: 1;
    border-width: 6px;
}
